<!DOCTYPE html>
<html  lang="en">
    <head>
        <title>home </title>
    </head>
    <body>
        <h1 style="color: blue;"> This is my first Website Heading</h1>
        <div>
            <p>
                This is my Navbar
            </p>
            
        </div>
        <div>
            <p>
                This is the body section of  mypage
            </p>
                
        </div>
        <div>
            <p>
                This is the footer part of my web
            </p>
        </div>
    </body>
</html>